<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMONR | CyberWorld</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/cyberworld.css">
</head>
<body>
    <div class="mainContainer">
        <div class="headings">
            <div class="heading1">
                <h1> Let's Talk About Cyber World</h1>
            </div>
            <div class="heading2">
                <h2>A virtual world made up of computer networks</h2>
            </div>
        </div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="webDev.html">Next</a>
        </button>
    </div>
</body>
</html>