<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMONR | CyberSecurity</title>
    <link rel="stylesheet" href="../static/cyberSecurity.css">
</head>
<body>
    <div class="container1">
        <h1>Cyber Security</h1>
    </div>
    <div class="container2">
        <div id="circle1"></div>
        <div id="circle2"></div>
        <div id="circle3"></div>
        <img src="../imgs/key.jpg">
        <div id="circle4">
        </div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="typesofhackers.html">Next</a>
        </button>
    </div>
</body>
</html>