<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMONR | Game Dev</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/gameDev.css">
</head>
<body>
    <div class="line1"></div>
    <div class="heading">
        <h1>Game Develpment</h1>
    </div>
    <div class="line2"></div>
    <video width="320" height="240" controls>
        <source src="../imgs/videos/gameDev/gameDev.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <video width="320" height="240" controls id="dev2">
        <source src="../imgs/videos/gameDev/gameDev2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="esports.html">Next</a>
        </button>
    </div>
</body>
</html>