<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMisFitOfNightRaid</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="spans">
        <span></span>
        <span></span>
    </div>
    <div class="name">
        <div class="logo">
            <img src="../imgs/themisfitofnightraid.png">
        </div>
        <div class="gName">
            <h1>TheMisFitOfNightRaid</h1>
        </div>
        <div class="des">
            <strong>We, We Are The MisFits We Don't Fit In Any Place So We Create Our Own Place To Be Fit In & It's Known As TheMisFitOfNightRaid.</strong>
        </div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="regiments.html">Next</a>
        </button>
    </div>
</body>
</html>