<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiments</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/regiments.css">
</head>
<body>
    <div class="heading">
        <h1>Regiments</h1>
    </div>
    <div class="mainContainer">
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/theSpy.jpg">
            </div>
            <div class="rName">
                <strong>TheSpy</strong>
            </div>
            <div class="moto">
                <p>We Are The Eyes & Ears Of TheMisFitOfNightRaid</p>
            </div>
        </div>
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/Raid8_Offical.jpg">
            </div>
            <div class="rName">
                <strong>Raid8</strong>
            </div>
            <div class="moto">
                <p>We Are For The Esports</p>
            </div>
        </div>
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/digitabreak.png">
            </div>
            <div class="rName">
                <strong>DigitaBreak</strong>
            </div>
            <div class="moto">
                <p>We Break The Limits</p>
            </div>
        </div>
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/clover.png">
            </div>
            <div class="rName">
                <strong>Clover</strong>
            </div>
            <div class="moto">
                <p>We Make We Develop</p>
            </div>
        </div>
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/gladiator.jpeg">
            </div>
            <div class="rName">
                <strong>Gladiator</strong>
            </div>
            <div class="moto">
                <p>We Produce The Glory</p>
            </div>
        </div>
        <div class="theSpy">
            <div class="logo">
                <img src="../imgs/regiments/median.jpg">
            </div>
            <div class="rName">
                <strong>Median</strong>
            </div>
            <div class="moto">
                <p>We Are Different, But We Are One</p>
            </div>
        </div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="wawh.html">Next</a>
        </button>
    </div>
</body>
</html>