<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/typesofhackers.css">
</head>
<body>
    <div class="heading">
        <h1>Types Of Hacker</h1>
    </div>
    <div class="container">
        <div class="white card">
            <div class="pic">
                <img src="../imgs/whitehat.jpg">
            </div>
            <div class="name">
                <strong>White Hat</strong>
            </div>
        </div>
        <div class="gray card">
            <div class="pic">
                <img src="../imgs/whitehat.jpg">
            </div>
            <div class="name">
                <strong>Gray Hat</strong>
            </div>
        </div>
        <div class="black card">
            <div class="pic">
                <img src="../imgs/whitehat.jpg">
            </div>
            <div class="name">
                <strong>Black Hat</strong>
            </div>
        </div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="index.html">Home</a>
        </button>
    </div>
</body>
</html>