<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMONR | Reason</title>
    <link rel="stylesheet" href="../static/wrwh.css">
</head>
<body>
    <div class="heading">
        <h1>Why Are We Here..?</h1>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="cyberworld.html">Next</a>
        </button>
    </div>
</body>
</html>