<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>
    <link rel="stylesheet" href="../static/webDev.css">
</head>
<body>
    <div class="lines">
        <div id="background-image">
            <img src="/imgs/webBack.png">
        </div>
        <div class="line1"></div>
        <div class="line2">
            <strong>Web Development</strong>
        </div>
        <div class="line3"></div>
    </div>
    <div class="btn">
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="app.html">Next</a>
        </button>
    </div>
</body>
</html>