body{
    margin: 0;
    padding: 0;
    background: url("../imgs/cyberworld.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer{
    display: grid;
    justify-content: center;
    align-content: center;
}
.headings{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.heading1{
    font-size: 30px;
    text-decoration: underline;
}
.heading2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #ed7d31;
    padding: 15px 30px 15px 5px;
    text-align: center;
}
.heading2 h2{
    margin: 0px;
    padding: 0px;
}


/* button  */
.btn{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0
}
.btn button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    background: rgb(95, 95, 95);
}
.btn button a{
    color: #000000;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    background: transparent;
}
.btn button:hover{
    background: #000000;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #0b0b0b,
                0 0 25px #0b0b0b,
                0 0 50px #0b0b0b,
                0 0 100px #0b0b0b;
}
.btn button a:hover{
    color: rgb(255, 255, 255);
}

.btn button span{
    display: block;
    position: absolute;
}
.btn button span:nth-child(1){
    left: -100%;
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: line1 1s linear infinite;
}
@keyframes line1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
.btn button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: line2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes line2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
.btn button span:nth-child(3){
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: line3 1s linear infinite;
    animation-delay: .50s;
}
@keyframes line3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
.btn button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: line4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes line4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}
